#version=RHEL7
# System authorization information
##auth --enableshadow --passalgo=sha512
# License agreement
eula --agreed
# Use CDROM installation media
cdrom
# Use Network installation for packages
##url --url=http://centos.mirror.iweb.ca/7/os/x86_64/
##url --url=http://centos.mirrors.ovh.net/ftp.centos.org/7/os/x86_64/
# Install OS instead of upgrade
install
# Use text install
text
# Run the Setup Agent on first boot
firstboot --disable
# Keyboard layouts
keyboard us
# System language
lang en_US.UTF-8
# SELinux
selinux --disabled
# Do not configure the X Window System
skipx
# Network information
network --bootproto=static --device=ens18 --noipv6 --activate --ip=51.255.103.172 --netmask=255.255.255.255 --gateway=94.23.47.254 --nameserver=213.186.33.99 --hostname=infrastructure.reimer.local
network --bootproto=dhcp --device=ens19 --noipv6 --activate
# Root password
#rootpw --iscrypted "some-crypted-password"
rootpw "centos"
# System timezone
timezone Europe/Paris --isUtc
##ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="xfs" --size=512
part pv.219 --fstype="lvmpv" --size 1 --grow
volgroup vg_system --pesize=4096 pv.219
logvol / --fstype="xfs" --size=1 --grow --label="rootlv" --name=rootlv --vgname=vg_system
logvol swap --fstype="swap" --size=2048 --name=swaplv --vgname=vg_system

reboot

%packages
@core
#@base
#kexec-tools
#git
#mc
#screen
#puppet
#tree
%end
